
@media only screen and (max-width: 768px) {
    section{
        padding:3vw;
        padding-top: 15vw;
    }
    .faqs{
        padding: 5vw;
    }
    .step{
        padding-left:2.7vw ;
        padding-top: 2vw;
    }
    
h4{
    display: flex;
    font-size: larger;
   


font-weight:700;

padding: 2vw;}
h5{
    display: flex;
    font-size: larger;
padding: 2vw;}
 
    h2{
        font-size: larger;
        justify-content: center;
        align-items: center;
        
    } 
    .header{
        padding-top: 15vw;
    
    }
    .topbg{
        height: 8em;
    }
    section{
        padding:5vw;
        padding-top: 15vw;
        padding-bottom: 15vw;
    }
    .ques{
        width: 75vw;
    }
    .ques{
     
        color: rgb(92, 91, 91);
    
     }
     .ques label{
        color: rgb(92, 91, 91);
     }
}