section{
    display: flex;
    color:white;
    background-color: black;
    

}
.bottom{
    text-align: center;
    color: white;
    background-color: black;
    padding-bottom: 2vw;
}
.box{
    width: 25vw;
    height: max-content;
    background-color: black;
}
.about-company {
    margin: 4vw;
}
.about-company h1{
    margin-bottom: 1vw;
}
.about-company p{
    margin-bottom: 1vw;
}
.about-company ul{
display: flex;
justify-content: space-around;
}

.footer-link {
    text-decoration: none;
    color: white;

    
}
.footer-link:hover{
    color:rgb(5, 117, 117);
}
.im1{
  width: 5vw;
  height: 5vw;
  margin-right: 0.5vw;
}
.image-row{
    display: flex;
}
.image-row div :hover{
    background:rgba(0, 0, 0, 0.074);
    opacity: 0.2;
}
