<section >
    <div class="box ">
        <div class="about-company">
        <h1 class="">Shipizens</h1>
                <p  >Shipizens,a leading transport and logistics service provider is introducing a truly innovative and high-tech online platform to book the truck in a few simple steps.</p>
               <br> <ul >
                <a href="https://www.facebook.com/"><div class="it"><i class="fa fa-facebook-f" style="color:white"></i></div></a>
                <a href="https://www.instagram.com/"><div class="it"><i class="fa fa-instagram" style="color:white"></i></div></a>
                <a href="https://www.twitter.com/"><div class="it"><i class="fa fa-twitter" style="color:white"></i></div></a>
                <a href="https://www.gmail.com/"><div class="it"><i class="fa fa-google" style="color:white"></i></div></a>
            </ul>
        </div> 
    </div>
    <div class="box">
    <div class="about-company">                 
        <h1 >Office Address</h1>
        <p >Gangadeep Colony Jhunsi Prayagraj</p>
        <p >Mon-Fri : 09.00 am-05.00 pm</p>
        <p >+91-9129188506</p>
        <p >Shipizens@gmail.com</p>
</div>
    </div>
    <div class="box">
        <div class="about-company">    
            
            <h1 >Explore</h1>
            <p ><a routerLink="" class="footer-link">Home</a></p>
            <p ><a routerLink="Service" class="footer-link">Service</a></p>
            <p ><a routerLink="" class="footer-link">FAQs</a></p>

            <p ><a routerLink="About" class="footer-link">About</a></p>
            <p ><a routerLink="Contact" class="footer-link">Contact</a></p>
    </div>
    </div>
    <div class="box">
        <div class="about-company">
        <h1 >Photos Gallery</h1>
        <div class="image-row">
        <div ><img src="assets/footer/1.jpg" alt="" class="im1"></div>
        <div ><img src="assets/footer/2i.jpg" alt="" class="im1"></div>
        <div ><img src="assets/footer/3i.jpg" alt="" class="im1"></div>
    </div><div class="image-row">
        <div ><img src="assets/footer/4i.jpg" alt="" class="im1"></div>
        <div ><img src="assets/footer/5i.jpg" alt="" class="im1"></div>
        <div ><img src="assets/footer/6i.jpg" alt="" class="im1"></div>  
    </div>
</div>
    </div>
</section>
<div class="bottom"><h4 >Transport India| © 2023 Transport, All rights reserved</h4></div>
