
@media only screen and (max-width: 768px) {
    section{
        display: block;
    }
    .box{
        width: 100vw;
        height: max-content;
        background-color: black;
    }
    .about-company {
        padding:10vw;
        margin: 0;
    }
    .im1{
        width: 25vw;
        height: 25vw;
        margin-right: 0.5vw;
      }
      .bottom{
        text-align: center;
        color: white;
        background-color: black;
        padding: 2vw;
    
    }
    }