<nav><div class="logo-section">
    <img src="assets/home/location.png" alt="logo" class="logo" />
    <h1 style="color: rgba(202, 253, 0, 1); display: inline-block;">Shipi</h1>
    <h1 style="color: rgba(2, 108, 13, 1); display: inline-block;">zens</h1>
  </div>
  <ul class="nav-option">
    <li><a routerLink="">Home</a></li>
   <li> <a routerLink="Service">Service</a></li>
    <li><a routerLink="About">About</a></li>
    <li><a routerLink="Contact">Contact</a></li>
  </ul>
  
  <img src="assets/header/controls.png" class="toggle" alt="Menu"  (click)="toggleMenu()" [attr.aria-expanded]="menuVisible ? 'true' : 'false'" aria-controls="menu">
  <ul id="menu" [hidden]="!menuVisible">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="Service">About</a></li>
    <li><a routerLink="FAQs">FAQs</a></li>
    <li><a routerLink="About">About</a></li>
    <li><a routerLink="Contact">Contact</a></li>
  </ul>
</nav>