.detail-section{

    margin: 5vw;
    color:rgb(0, 0, 0);
    width: 45vw;
    margin-top: 10vw;

}
h3{
    color: rgb(239, 155, 71);
    margin-bottom: 1vw;
    

}

#spam{
    color:rgb(101, 126, 140);
    margin-bottom: 3vw;
    font-size: large;

}

p{
    margin-bottom: 1vw;
    font-size: x-large;

}


.user-detail-input{
    width: 40vw;

    margin: 5vw;
    color:rgb(0, 0, 0);
    margin-top: 10vw;
}
section{
    display: flex;
}
input{
    width: 30vw;
    height: 2.5vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    border-radius: 5px;

}
textarea{
    width: 30vw;
    height: 5vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-radius: 5px;
}
button{
    background-color: rgba(202, 253, 0, 1);
    width: 10vw;
    height: 2.5vw;
    border-radius: 6px;

    
}
.contact-detal{
    margin-bottom: 1vw;
    font-size: large;
    padding-left: 1vw;

} 