.detail-section{

    margin: 5vw;
    color:rgb(0, 0, 0);
    width: 45vw;
    margin-top: 5vw;

}
h3{
    color: rgb(239, 155, 71);
    margin-bottom: 1vw;
    

}

#spam{
    color:rgb(101, 126, 140);
    margin-bottom: 3vw;
    font-size: large;

}

p{
    margin-bottom: 1vw;
    font-size: x-large;

}


.user-detail-input{
    width: 40vw;

    margin: 5vw;
    color:rgb(0, 0, 0);
    margin-top: 10vw;
}
section{
    display: flex;
}
input{
    width: 30vw;
    height: 2.5vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    border-radius: 5px;

}
textarea{
    width: 30vw;
    height: 5vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-radius: 5px;
}

    .button-29{
      align-items: center;
      appearance: none;
      background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
      border: 0;
      border-radius: 6px;
      box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
      box-sizing: border-box;
      color: #fff;
      cursor: pointer;
      display: inline-flex;
      font-family: "JetBrains Mono",monospace;
      height: 48px;
      justify-content: center;
      line-height: 1;
      list-style: none;
      overflow: hidden;
      padding-left: 16px;
      padding-right: 16px;
      position: relative;
      text-align: left;
      text-decoration: none;
      transition: box-shadow .15s,transform .15s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
      white-space: nowrap;
      will-change: box-shadow,transform;
      font-size: 18px;
    }
    
    .button-29:focus {
      box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
    }
    
    .button-29:hover {
      box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
      transform: translateY(-2px);
    }
    
    .button-29:active {
      box-shadow: #3c4fe0 0 3px 7px inset;
      transform: translateY(2px);
    }

    

.contact-detal{
    margin-bottom: 1vw;
    font-size: large;
    padding-left: 1vw;

} 
img{
    width: 2vw;
    height: max-content;
}
label{
    display: flex;
    margin-bottom: 1vw;
}

@media only screen and (max-width: 768px) {
section{
    display: block;

}
.detail-section{

    margin: 5vw;
    color:rgb(0, 0, 0);
    width: 90vw;
    margin-top: 10vw;

}
.user-detail-input{
    width: 80vw;

    margin: 5vw;
    color:rgb(0, 0, 0);
    margin-top: 10vw;
}
input{
    width: 85vw;
    height: 8vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    border-radius: 5px;

}
#spam{
    color:rgb(101, 126, 140);
    margin-bottom: 5vw;
    font-size: large;

}
textarea{
    width: 85vw;
    height: 30vw;
    border: '1px solid black'; 
    padding-left: 1vw;
    padding-top: 0.5vw;
    border-radius: 5px;
}


h3{
    color: rgb(239, 155, 71);
    margin-bottom: 3vw;
    

}
label{
    display: flex;
    margin-bottom: 3vw;
}
.status-1{
    margin-bottom: 3vw;
}
img{
    width: 5vw;
    height: max-content;
}
}