
@media only screen and (max-width: 768px) {
    section{
        display: block;
    
    }
    .detail-section{
    
        margin: 5vw;
        color:rgb(0, 0, 0);
        width: 90vw;
        margin-top: 10vw;
    
    }
    .user-detail-input{
        width: 80vw;
    
        margin: 5vw;
        color:rgb(0, 0, 0);
        margin-top: 10vw;
    }
    input{
        width: 85vw;
        height: 8vw;
        border: '1px solid black'; 
        padding-left: 1vw;
        border-radius: 5px;
    
    }
    #spam{
        color:rgb(101, 126, 140);
        margin-bottom: 5vw;
        font-size: large;
    
    }
    textarea{
        width: 85vw;
        height: 30vw;
        border: '1px solid black'; 
        padding-left: 1vw;
        padding-top: 0.5vw;
        border-radius: 5px;
    }
    
    
    h3{
        color: rgb(239, 155, 71);
        margin-bottom: 3vw;
        
    
    }
    label{
        display: flex;
        margin-bottom: 3vw;
    }
    .status-1{
        margin-bottom: 3vw;
    }
    img{
        width: 5vw;
        height: max-content;
    }
    }