<div class="banner">
    <div class="vision">
        <h1>Shipizens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid recusandae. Placeat praesentium,
        </p>
    </div>
    <img src="assets\home\ques2.jpg" alt="">
</div>
<hr>
<h2 class="developer-detail">Our Team</h2>
<div class="developer-detail">
    <img src="assets\home\banner1.jpg" class="developer-img" >
    <div class="about-developer"> 
        sd;gas
    </div>
    <div class="arrow-right"></div>


</div>
<div class="developer-detail">
    <div class="arrow-left"></div>

    <div class="reverse-about-developer"> </div>

    <img src="assets\home\banner1.jpg" class="reverse-developer-img" >
</div>
<div class="developer-detail">
    <img src="assets\home\banner1.jpg" class="developer-img" >
    <div class="about-developer"> ijjgisdjgo</div>
    <div class="arrow-right"></div>
</div>
<div class="developer-detail">
    <div class="arrow-left"></div>

    <div class="reverse-about-developer"> </div>

    <img src="assets\home\banner1.jpg" class="reverse-developer-img" >
</div>