.form{
    padding-top: 150px;
    margin-bottom: 90px;
}
.form > div{
    padding: 50px 20px;
    border: 1px solid rgb(53, 52, 52);
    border-radius: 20px;
}

input.ng-invalid.ng-touched
    {
        border: 1px solid red;
        box-shadow: 0 0 13px inset #ff00008f;
    }
