<div class="banner">
    <div class="vision">
        <h1>Shipizens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid recusandae. Placeat praesentium,
        </p>
    </div>
    <img src="assets\home\ques2.jpg" alt="">
</div>
<hr>
<h2 class="our-team-heading">Our Team</h2>
<div class="developer-detail">
    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> <span> Founder & CEO</span></h2>
            <p>At shipizens, our vision is to be more than just a shipping company. We want to build lasting relationships with our customers and become a trusted partner in their success. By providing exceptional service and going above and beyond for our customers, we aim to be the first choice for all of their shipping needs. We believe that every shipment is an opportunity to make a difference in people's lives, and we are dedicated to ensuring that your goods arrive safely and on time</p>
            <ul>
                <a href="https://www.linkedin.com/in/alok-kumar-srivastava-8651a8201/" target="_blank">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://twitter.com/Alok_sri10" target="_blank">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>
    <div> <img src="assets\about\ishita.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Ishita Singh
                <br> <span> Co-founder, COO & Technical lead</span>
            </h2>
            <p>Our vision is to become the leading brand in the shipping industry by providing excellent delivery services that satisfy our customers' needs and expectations. At Shipizens, we are committed to becoming the most trusted brand in the industry. As part of that dedication, I oversee the company's operations to keep each department aligned with that goal. We welcome new innovative ideas in the technological field and embrace creative strategies to help our company flourish while fostering the best culture.</p>
            <ul>
                <a href="https://www.linkedin.com/in/ishita-singh-008409227/" target="_blank">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://twitter.com/Ishita_Singh28" target="_blank">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>


    

    <div> <img src="assets\about\harsit.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Harshit Mishra <br> <span> CO-founder & CMO </span></h2>
            <p>As the Chief Marketing Officer (CMO) of this company, I am responsible for leading the marketing team in developing and executing effective strategies to increase brand awareness, drive sales, and reach our goals. I work closely with other departments to ensure that our marketing efforts are aligned with the overall business plan. My job involves planning and managing campaigns, developing innovative ideas for product promotion, overseeing research & analytics activities, coordinating activities with external vendors and partners, as well as tracking performance metrics to measure success.</p>
            <ul>
                <a href="https://www.linkedin.com/in/harshit-mishra-2a1612205/" target="_blank">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://twitter.com/Harshit_Mishra0" target="_blank">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>


</div>

<div class="developer-detail">
    
    <div> <img src="assets\about\shriya.png" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Shriya Gupta
                <br> <span>HR & Management   </span>          </h2>
            <p>Shipizens was founded with the vision to develop it into a prominent shipping brand, expanding its reach beyond India and spreading its wings throughout the world. I want Shipizens to far exceed our expectations, and to achieve this goal, I deliver my best each day to manage and maintain an encouraging environment for the team. I also ensure that the team comprises skilled individuals who are truly committed and willing to invest their valuable time and effort for the advancement of the company.</p>
            <ul>
                <a href="https://www.linkedin.com/in/shriya-gupta-75373a210/" target="_blank">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://twitter.com/Shriya23012002" target="_blank">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>

    <div> <img src="assets\about\aman.jfif" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Aman Yadav <br> <span> CTO </span> </h2>
            <p>As the CTO of this startup, my focus is on developing innovative solutions and staying ahead of the curve in technology. My vision is to create a simple, user-friendly product that exceeds customer expectations. I leverage my expertise in software engineering to design robust, scalable solutions and constantly explore new technologies to improve our product's performance. Collaboration and teamwork are key to our success.</p>
            <ul>
                <a href="https://www.linkedin.com/in/amanyddv/" target="_blank" >
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/amanyddv" target="_blank">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>


</div>

