<div class="banner">
    <div class="vision">
        <h1>Shipizens</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, aliquid recusandae. Placeat praesentium,
        </p>
    </div>
    <img src="assets\home\ques2.jpg" alt="">
</div>
<hr>
<h2 class="our-team-heading">Our Team</h2>
<div class="developer-detail">
    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> Founder & CEO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iste magni tempore minus quibusdam
                beatae fugiat consequatur reiciendis quidem libero voluptates nam repellat ad alias unde tenetur
                dignissimos, expedita maxime aliquid laborum ipsum. A laudantium, molestias optio vitae quisquam,
                aperiam et dolorum quae praesentium corrupti placeat porro alias totam quo.</p>
            <ul>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>
    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> Founder & CEO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iste magni tempore minus quibusdam
                beatae fugiat consequatur reiciendis quidem libero voluptates nam repellat ad alias unde tenetur
                dignissimos, expedita maxime aliquid laborum ipsum. A laudantium, molestias optio vitae quisquam,
                aperiam et dolorum quae praesentium corrupti placeat porro alias totam quo.</p>
            <ul>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>

    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> Founder & CEO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iste magni tempore minus quibusdam
                beatae fugiat consequatur reiciendis quidem libero voluptates nam repellat ad alias unde tenetur
                dignissimos, expedita maxime aliquid laborum ipsum. A laudantium, molestias optio vitae quisquam,
                aperiam et dolorum quae praesentium corrupti placeat porro alias totam quo.</p>
            <ul>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>

    

    


</div>

<div class="developer-detail">
    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> Founder & CEO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iste magni tempore minus quibusdam
                beatae fugiat consequatur reiciendis quidem libero voluptates nam repellat ad alias unde tenetur
                dignissimos, expedita maxime aliquid laborum ipsum. A laudantium, molestias optio vitae quisquam,
                aperiam et dolorum quae praesentium corrupti placeat porro alias totam quo.</p>
            <ul>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>
    <div> <img src="assets\about\alok.jpg" class="developer-img">
        <hr>
        <div class="about-developer">
            <h2>Alok Srivastva <br> Founder & CEO</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias iste magni tempore minus quibusdam
                beatae fugiat consequatur reiciendis quidem libero voluptates nam repellat ad alias unde tenetur
                dignissimos, expedita maxime aliquid laborum ipsum. A laudantium, molestias optio vitae quisquam,
                aperiam et dolorum quae praesentium corrupti placeat porro alias totam quo.</p>
            <ul>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-linkedin" style="color:rgb(0, 0, 0)"></i></div>
                </a>
                <a href="https://www.twitter.com/">
                    <div class="icon"><i class="fa fa-twitter" style="color:rgb(0, 0, 0)"></i></div>
                </a>
            </ul>
        </div>

    </div>


    

    


</div>

