.child{
    margin-left:10vw ;
    width: 40vw;
}
.res-child{
        margin-left:5vw ;
        width: 40vw;
    
}
h2{
    text-align: center;
    color: rgb(42, 69, 69);
    margin-bottom: 2vw;
    font-size: xx-large;
}
p{
    font-size: larger;
    color:rgb(101, 101, 101);
    text-align: justify;


}
img{
    width: 30vw;
    height:max-content;
    margin-left: 5vw;
   
}
.parent{
    display: flex;
    height: max-content;
    align-items:center;
    padding-bottom: 5vw;
}

.res-img{

    width: 30vw;
    height:max-content;
    margin-left: 10vw;
   
}


@media only screen and (max-width: 768px) {
    .parent{
        display: flex;
        height: max-content;
        font-size: small;
        margin-bottom: 10vh;        align-items:center;
       flex-direction:  column;

    }
    .res-parent{
        display: flex;
        flex-direction: column-reverse;
    }
    .child{
        margin-left:3vw ;
        width: 90vw;
    }
    .res-child{
        margin-left:2vw ;
        width: 90vw;        

    
}
img{
    width: 70vw;
    height:max-content;margin-top:20px;
   
}
.res-img{

    width: 70vw;
    height:max-content;margin-top:20px;
   
   
}
p{
    font-size: small;
}

   
   
}