<app-banner></app-banner>

<div class="parent"><div class="child">
    <h2>Why we are ?</h2>
    <p>To convert this to an Angular component, you can create a new component using the Angular CLI by running the command ng generate component nav-bar. This will generate a new component folder with files for the component class, HTML template, and styles.</p>
   </div>
    <img src="assets/home/ques1.jpg" alt="">
   
</div>

<div class="parent">
    <img src="assets/home/ques2.jpg" alt="" class="res-img">
    <div class="res-child">
    <h2>Why choose us ?</h2>
    <p>To convert this to an Angular component, you can create a new component using the Angular CLI by running the command ng generate component nav-bar. This will generate a new component folder with files for the component class, HTML template, and styles.</p>
   </div>
   
</div>

<div class="parent"><div class="child">
    <h2>What we provide ?</h2>
    <p>To convert this to an Angular component, you can create a new component using the Angular CLI by running the command ng generate component nav-bar. This will generate a new component folder with files for the component class, HTML template, and styles.</p>
   </div>
    <img src="assets/home/ques3.jpg" alt="">
   
</div>

<div class="parent">
    <img src="assets/home/ques4.jpg" alt="" class="res-img">
    <div class="res-child">
    <h2>How we work ?</h2>
    <p>To convert this to an Angular component, you can create a new component using the Angular CLI by running the command ng generate component nav-bar. This will generate a new component folder with files for the component class, HTML template, and styles.</p>
   </div>
   
</div>