<app-banner></app-banner>

<div class="parent">
    <div class="child">
        <h2>Why we are ?</h2>
        <p>Shipizens is a shipping company that provides logistics solutions for all size of businesses. Our aim is to
            bridge the gap between producers, manufacturers, and sellers of goods on one side, and buyers, distributors,
            and consumers on the other. Through our platform, we enable businesses and individuals to transport goods
            and commodities, overcoming geographical barriers, and ensuring end-to-end customer experience.
        </p>
    </div>
    <img src="assets/home/ques1.jpg" alt="">

</div>

<div class="parent">
    <img src="assets/home/ques2.jpg" alt="" class="res-img">
    <div class="res-child">
        <h2>Why choose us ?</h2>
        <p>Our skilled and enthusiastic workforce believe in customer statisfaction and effortless mobility of goods.We
            understand that users entrust us with their goods, and we strive to transform that trust into providing the
            best services. <br><br>
            1. Inbuilt tracking system in vechicle - It ensures that our customer knows where their goods are exactly. <br><br>
            2. Transparency in price - We provide the best services at a fair market price. <br><br>
            3. Grow your business with us- We provide services to small ventures and big organizations alike, and we are
            committed to delivering our best effort whether it is for the smallest package or the largest goods. <br><br>
            4. Verified Vechiles - We understand that we are not only transporting goods, but also our customers' 
            hopes. That's why we have verified drivers who undergo rigorous checks before reaching your doorstep. 
        </p>
    </div>

</div>

<div class="parent">
    <div class="child">
        <h2>What we provide ?</h2>
        <p>We aim to become the first choice of our customers by providing services such as <br><br>
            1. Safe & Fast delivery - We deliver a wide range of items, including electronic devices, automobiles,
            fragile items, and many more, within the specified time frame <br><br>
            2. Easy Portal- Our easy-to-use portal is designed to meet our customers' needs for hassle-free booking. We
            are just one click away from providing the best services out there. <br><br>
            3. Different options for vechicle- Book your vehicle according to your needs. We not only deliver a vast
            variety of goods but also provide a wide range of vehicles for your satisfaction. <br><br>
            4. Subscription - We not only offer rates at a fair market price but also provide offers to our regular
            customers through our subscription model.</p>
    </div>
    <img src="assets/home/ques3.jpg" alt="">

</div>

<div class="parent">
    <img src="assets/home/ques4.jpg" alt="" class="res-img">
    <div class="res-child">
        <h2>How we work ?</h2>
        <p>To convert this to an Angular component, you can create a new component using the Angular CLI by running the
            command ng generate component nav-bar. This will generate a new component folder with files for the
            component class, HTML template, and styles.</p>
    </div>

</div>