.child{
    margin-left:10vw ;
    width: 40vw;
}
.res-child{
        margin-left:5vw ;
        width: 40vw;
    
}
h2{
    text-align: center;
    color: rgb(42, 69, 69);
    margin-bottom: 2vw;
}
p{
    font-size: larger;

}
img{
    width: 30vw;
    height:max-content;
    margin-left: 5vw;
   
}
.parent{
    display: flex;
    height: 30vw;
}

.res-img{

    width: 30vw;
    height:max-content;
    margin-left: 10vw;
   
}

@media only screen and (max-width: 768px) {
    .parent{
        display: flex;
        height: max-content;
        font-size: small;
        margin-bottom: 10vh;        align-items:center;

    }
    .child{
        margin-left:3vw ;
        width: 45vw;
    }
    .res-child{
        margin-left:5vw ;
        width: 45vw;
    
}
img{
    width: 50vw;
    height:max-content;
    margin-left: 5vw;
   
}
.res-img{

    width: 50vw;
    height:max-content;
    margin-left: 3vw;
   
}

   
   
}