.slide-animation::before {  
    transform: scaleX(0);
    transform-origin: bottom right;

  }
  
  .slide-animation:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;

  }
  
  .slide-animation::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: #e7fff7;
    z-index: -1;
    transition: transform .3s ease;
  }
  
  .slide-animation {
    position: relative;
    padding: 3vw;

  }
  

